@page "/"

@using System;
@using System.Linq;
@using System.Threading.Tasks;
@using System.Collections.Generic;
@using Microsoft.EntityFrameworkCore;
@using System.Net.Http.Json;



<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        
        <div class="col-sm-8">
            
            <div class="ouroborosearch">
                Ouroborosearch
            </div>

            <div class="forth">
                <EditForm Model="@Forth" OnValidSubmit="@BackAndForth">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <InputText tabindex="1" id="syas" @bind-Value="@Forth.SearchString"></InputText>
                </EditForm>
            </div>

            <div class="back">
                <Virtualize Items="@Back" Context="back">
                    <div class="backbone">
                        <div>
                            <p>@back.SearchString</p>
                        </div>
                    </div>
                </Virtualize>
            </div>

        </div>
        
        <div class="col-sm-2"></div>
    </div>
</div>
                

@code{

    private ElementReference Syas;
    private List<Search>? Back {get;set;}
    private Search? Forth {get;set;}
    static HttpClient client = new HttpClient();
    private async Task BackAndForth(){
        Back = new();

        HttpResponseMessage first = await client.GetAsync($"https://ouroborosearchapi.azurewebsites.net/api/Search/{Forth.SearchString}");
        if(first.IsSuccessStatusCode)
        {
            Back = await first.Content.ReadFromJsonAsync<List<Search>>();
        }
        
        HttpResponseMessage other = await client.PostAsJsonAsync("https://ouroborosearchapi.azurewebsites.net/api/Search", Forth);
        other.EnsureSuccessStatusCode();

        Forth = new Search();
    }

    protected override async Task OnInitializedAsync(){
        Back = new List<Search>();
        Forth = new Search();
    }
    
}

    
        
            

        
        

        

    
        



            


                    


    
        



